/* Body */
body {
    background-color: #1b415e;
    margin: 0 auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    
    font-size: 16px;
    color: rgb(224, 224, 224);
}

/* Headers */
h1, h2 {
    text-align: center;
    color: white;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

/* Canvas */
.canvas-container {
    margin: 0 auto;
    text-align: center;
}

.canvas-container p {
    font-size: 12px;
}

canvas {
    border-radius: 10px 10px 0px 0px;
}

/* Legend */
ul > li {
    display: inline-block;
    font-size: 24px;
    margin-top: 0px;
    margin-right: 5%;
}

#red {
    color: red;
}

#green {
    color: green;
}

#blue {
    color: blue;
}

/* UI */
.lil-gui.root {
    border-radius: 10px;
    margin-left: 25%;
    width: 50%;
}

.lil-gui .name {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}

#lil-gui-name-1  {
    color: #f2deb1;
}

#lil-gui-name-2  {
    color: #ff9191;
}

#lil-gui-name-3  {
    color: #468cc2;
}

#lil-gui-name-4 {
    color: #e38424;
}

#lil-gui-name-5 {
    color: #5bd1fc;
}

#lil-gui-name-6 {
    color: #871674;
}